div.content {
	background-color: #C8C8C8;
}

div.tocbox {
	background: #EEEEFF;
	border: 3px solid #A0A0FF;
	text-align:center;
	margin: auto 100px;
	border-radius: 10px 10px 0 0;
}

div.tocbox > ul {
	margin: 5px;
}

div.tocbox > ul > li {
	display: inline-block;
	margin: 0 1em;
	font-weight: bold;
}

img {
	max-width: 100%;
}

img.helpvis {
	background: #C3C3C3;
}

strong.lag {
	color: red;
	font-weight: normal;
	border-bottom: 1px dashed red;
}

strong.lag b {
	font-size:80%;
}

strong.lag b:before {
	content: "\026A0";
}

p.warped {
	transform: skewX(45deg) rotate(-3deg) translateY(-19px);
	font-family: impact;
	text-shadow: -10px 16px 4px #005691;
	padding-left: 60px;
}

p.warped span{
	display: inline-block;
}

span.morewarped {
	transform: skewX(12deg) rotate(30deg) translate(05px,15px);
}

.warped:hover span:not(.morewarped) {
	transform: rotate(180deg);
	text-shadow: 10px -16px 4px #005691;
}

p.warped::selection {
	transform: scale(3);
	color: red;
	font-family: monospace;
	text-shadow: none
}

span.morewarped::selection {
	color: blue;
}

.jaeger:hover::before {
	content: 'Attack on ';
}

table.ctrltable th:first-child {
	text-align: center;
}

span.menuIcon {
	background: url("menuicons.png") black;
	outline: 2px solid #282828;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: .3em 0 .1em;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

span.menuIcon.menuSubmenu {
	background-position: 0px 0px
}

span.menuIcon.menuCommand {
	background-position: -16px 0px
}

span.menuIcon.menuToggle {
	background-position: -32px 0px
}

span.menuIcon.menuSelection {
	background-position: -48px 0px
}

span.menuIcon.menuNumfield {
	background-position: -64px 0px
}

span.menuIcon.menuPreset {
	background-position: -80px 0px
}

span.menuIcon.menuBinding {
	background-position: -96px 0px
}

span.menuIcon.menuSelectionMenu {
	background-position: -112px 0px
}

span.menuIcon.menuMemoryInfo {
	background-position: -128px 0px
}

ul.fontList > li > span.fontName {
	display: inline-block;
	width: 50%;
}

ul.fontList > li > span.fontPreview {
	display: inline-block;
	background-image: url("fontpreviews.png");
	background-color: #489848;
	outline: 1px solid #489848;
	width: 256px;
	height: 16px;
	vertical-align: sub;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

ul.fontList > li {
	margin-bottom: 1px;
}

ul.fontList > li:hover > span.fontName {
	list-style: none;
	font-weight: bold;
}

ul.fontList > li:hover > span.fontPreview {
	transform: scale(2.0) translate(65px, 0);
	background-color: #8080F0;
	outline: 2px solid #8080F0;
}

span.snesButton {
	font-weight: 600;
	font-variant: small-caps;
	display: inline-block;
	color: white;
	border: 2px solid;
	border-left: none;
	border-top: none;
	border-radius: 20px;
	text-transform: capitalize;
	text-align: center;
}

span.snesButton.snesDPAD {
	border-radius: 0;
	width: 17px;
	height: 17px;
	padding-bottom: 1px;
	background: #595E62;
	border-color: #2B3033;
}

span.snesButton.snesA,
span.snesButton.snesB,
span.snesButton.snesX,
span.snesButton.snesY {
	width: 22px;
	height: 20px;
	padding: 3px 1px 0;
}

span.snesButton.snesA {
	background: #DA3948;
	border-color: #610102;
}

span.snesButton.snesB {
	background: #FEBB52;
	border-color: #3E0A00;
}

span.snesButton.snesX {
	background: #00489F;
	border-color: #000A35;
}

span.snesButton.snesY {
	background: #00916A;
	border-color: #00331B;
}

span.snesButton.snesL,
span.snesButton.snesR {
	width: 40px;
	height: 16px;
	padding-bottom: 1px;
	font-weight: bold;
	border-color: #8D8D8D;
	background: #B8B8A8;
}

span.snesButton.snesL {
	border-radius: 12px 0 0 0;
}

span.snesButton.snesR {
	border-radius: 0 12px 0 0;
}

span.snesButton.snesStart,
span.snesButton.snesSelect {
	width: 50px;
	height: 12px;
	padding-bottom: 4px;
	background: #4B545B;
	border-color: #050704;
	font-variant: small-caps;
}

span.releaseDate {
	font-variant: small-caps;
	font-size: 70%;
}

ul, dl {
	margin-block-start: 0;
}

dd {
	padding-left: 30px;
	margin-inline-start: 0;
	margin-block-start: 0;
}

dt {
	padding-left: 10px;
}

dt:after {
	content: ":";
}

strong.lag:before,
dt:not(:first-child):before {
	content: " ";
	display: block;
}

dt:first-child:before {
	content: " ";
	display: block;
	margin-top: -1.2em;
}

dt:first-child:before {
	height: 0;
	line-height: 0;
}

dl:not(.dinkyList):not(.subDefinition) > dt:before {
	margin-top: 15px;
}


dl.subDefinition {
	padding-left: 10px;
	font-size: 100%;
}

dl.subDefinition dt,
dl.inlineDefinition:not(.dinkyList) dt {
	display: contents;
	font-size: 100%;
}

dl.inlineDefinition.dinkyList {
	padding-left: 30px;
}

dl.subDefinition dt,
dl.inlineDefinition.dinkyList dt {
	display: inline;
	padding-left: 30px;
}

dl.subDefinition dd,
dl.inlineDefinition dd {
	display: inline;
	padding-left: 5px;
}

dl.inlineDefinition dd ol {
	display: inline;
	padding-left: 0;
}

dl.inlineDefinition dd li {
	display: inline
}

dl.inlineDefinition dd ol>li:not(:last-child):after {
	content: ",";
}

strong.lag {
	color: red;
	font-weight: normal;
	border-bottom: 1px dashed red;
}

strong.lag b {
	font-size: 80%;
}

strong.lag b:before {
	content: "\026A0";
}

ul.colorList {
	list-style: none;
}

ul.colorList > li.colorDefine > .colorBlock {
	display: inline-block;
	padding: 0 4px;
	width: 90px;
	text-align: center;
	height: 18px;
	margin: 1px 3px 1px 0;
}

/**************************************

**************************************/
div#patcher-app {
	margin: auto;
	width: 40%;
	min-width: 300px;
	font-size: .9em;
	background: #EEEEFF;
	border: 3px solid #A0A0FF;
	border-radius: 20px 20px 0 0;
}

div#patcher-app div.patch-header {
	text-align: center;
	margin: auto;
	background: #CCCCFF;
	font-weight: bold;
	font-size: 1.4em;
	padding: 7px 0;
	border-radius: 16px 16px 0 0;
}

div#patcher-app div.patch-body {
	padding: 13px;
}

div#patcher-app div.patch-body > p {
	text-align: center;
	margin: 0 2px 9px 2px;
}

div#patcher-app div.patch-body > div.custom-file {
	width: 70%;
	margin: 10px auto;
}

div#patcher-app div.patch-body > div.custom-file input {
	   cursor: pointer;
}

div#patcher-app div.patch-body > button {
	display: block;
	margin: auto;
	width: 70%
}

div#patcher-app div.patch-body div.choosev {
	margin: 0 auto 10px;
	width: 70%;
	text-align: center;
}

div#patcher-app div.patch-body div.choosev label {
	font-weight: bold;
}
